<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ebc3c3f6-7e38-4946-9bd6-0ef7c0a8c741/resourceGroups/ResourceGroup/providers/Microsoft.Web/sites/usaeSAVE</ResourceId>
    <ResourceGroup>ResourceGroup</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://usaesave.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>usaesave.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>usaeSAVE</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$usaeSAVE</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Model1" Order="1" Enabled="False">
          <Destination Path="Data Source=db_SAVE.mssql.somee.com;Initial Catalog=db_SAVE;User ID=yahirqr_SQLLogin_1;Password=1z8gn2xcbu;Multiple Active Result Sets=True;Trust Server Certificate=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="save_apiv0.Models.Model1, save_apiv0" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Model1-Web.config Connection String">
      <ParameterValue>Data Source=db_SAVE.mssql.somee.com;Initial Catalog=db_SAVE;User ID=yahirqr_SQLLogin_1;Password=1z8gn2xcbu;Multiple Active Result Sets=True;Trust Server Certificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>